.gv-asset {
    background: rgba(0,0,0,.5);
    width: 100%
}

.gv-image-container {
	opacity: 0;

}

.gv-image-container.gv-loaded {
	opacity: 1;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.gv-row{
	width: 100%;
	display: inline-block;
}

.gv-row.row-divider {
	border-top: 1px solid #eee;
	padding-top: 10px;
}

div[class^="gv-flex-"] {
	margin: 0 0 10px 0;
}

.gv-full, .gv-half, .gv-third {
	margin: 0 0 10px 0;
	float: left;
	width: 100%;
}

.gv-third {
	
}

.gv-half  {
	width: 50%;
	
}

.gv-third {
	width: calc(100% /3);
	padding: 0 2px;
	margin: 0 0 0 0;
}

.gv-half:nth-child(odd), .gv-quarter:nth-child(odd)  {
	padding-right: 5px;
}

.gv-half:nth-child(even), .gv-quarter:nth-child(even) {
	padding-left: 5px;
}

.gv-lead-photo {
	margin: 0 -10px 20px -10px;

	.lead-text {
		padding: 10px;
	}

	.gv-lead-photo-img {
		line-height: 0;
	}
}

.gv-row .gv-lead {
	margin-top: 40px;
}

.gv-row:first-of-type .gv-lead {
	margin-top: 0px;
}



@media(min-width:480px){
	.gv-lead-photo {
		margin: 0 -20px 20px -20px;
	}
}

@media(min-width:660px){
	
	.gv-quarter:nth-child(even), .gv-quarter:nth-child(odd) {
		padding-right: 0;
		padding-left: 0;
	}


	
	.gv-full, .gv-half, .gv-third  {
		margin: 0 0 20px 0;
	}

	.gv-half:nth-child(odd),{
		padding-right: 10px;
	}

	.gv-half:nth-child(even){
		padding-left: 10px;
	}

	.gv-third {
		    padding: 0 10px;

	}


	.gv-lead-photo {
		position: relative;

		.lead-text {
			position: absolute;
			z-index: 2;
			padding: 0;
		}

		img {
			z-index: 1;
		}

		.lead-top-left {
			top: 20px;
			left: 20px;
		
		}

		.lead-top-right {
			top: 20px;
			right: 20px;
		}

		.lead-bottom-left {
			bottom: 10px;
			left: 20px;
		}

		.lead-bottom-right {
			bottom: 10px;
			right: 20px;
		}

		.lead-text-width-1 {
			width: 50%;
		}

		.lead-text-width-2 {
			width: 460px;
		}

		.lead-text-width-3 {
			width: 700px;
		}
	}
}

@media(min-width:740px){
	max-width:740px;
}

@media(min-width:980px){

	.gv-layout-flex {
	 width: 100%;
	 max-width: 960px;
	}

	.gv-half, .gv-full {

	}

	.gv-layout-flex {
		margin: 0 -10px;
	}

	.gv-row .gv-lead {
		margin-top: 120px;
	}

	.gv-row:first-of-type .gv-lead {
		margin-top: 0px;
	}

	.gv-lead-photo {
		margin: 0px -20px 20px -20px;
	}

	.gv-flex {
		max-width: 640px;		
	}


	div[class^="gv-flex-"] {
		padding: 0 10px 0px 10px;
		min-height: 20px;
		float: left;
		vertical-align: top;

	}

	.gv-flex-1{
		width: 25%;
	}

	.gv-flex-2 {
		width: 50%;
	}

	.gv-flex-3 {
		width: 75%;
	}

	.gv-flex-4 {
		width: 100%;
	}



	.gv-full, .gv-half {
	
	}

	
}


@media(min-width:1140px){

	div[class^="gv-flex-"] {
		margin: 0 10px 20px 10px;
	
		float: left;
		vertical-align: top;
		padding: 0;
	}
	
	.gv-flex-1{
		width: 220px;
	}

	.gv-flex-2 {
		width: 460px;
	}

	.gv-flex-3 {
		width: 700px;
	}

	.gv-flex-4 {
		width: 940px;
	}

	.gv-layout-flex {
		margin: 0 0 0 150px;
	}

	.gv-flex {
		max-width: 140px;
		float: left;
	}
}

@media(min-width:1300px){
	.gv-layout-flex {
		margin-left: 230px;
	}

	.gv-flex {
		max-width: 220px;
	}
}


