.gv-expand {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0MHB4IiBoZWlnaHQ9IjQwcHgiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNDAgNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxjaXJjbGUgZmlsbD0iI0ZGQkIwMCIgY3g9IjIwLjEiIGN5PSIyMC4xIiByPSIxOS43Ii8+PC9nPjxwb2x5Z29uIGZpbGw9IiMwMDAzMzMiIHBvaW50cz0iMTMuMiwyOC4yIDE4LjMsMjMuMSAxNywyMS44IDExLjksMjcgMTEuNCwyMyAxMC4zLDIzIDEwLjMsMjkuNCAxMC43LDI5LjggMTcuMiwyOS44IDE3LjIsMjguNyAiLz48cG9seWdvbiBmaWxsPSIjMDAwMzMzIiBwb2ludHM9IjI3LDExLjkgMjEuOCwxNyAyMy4xLDE4LjMgMjguMiwxMy4yIDI4LjcsMTcuMiAyOS44LDE3LjIgMjkuOCwxMC43IDI5LjQsMTAuMyAyMywxMC4zIDIzLDExLjQgIi8+PC9zdmc+);


}

.gv-lead-photo:hover, .gv-image-container:hover {
	position: relative;
	.gv-expand {
		display: block;
	}
}

.gv-image-inactive-expand:hover {
	.gv-expand {
		display: none;
	}
}