// Breakpoints
// URL: https://github.com/guardian/frontend/blob/master/static/src/stylesheets/_vars.scss
// =============================================================================

// Add breakpoints and tweakpoints here
// To add custom breakpoints directly inside of a component,
// see https://github.com/guardian/sass-mq#adding-custom-breakpoints

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.

@import '_grid-system';

$mq-breakpoints: (
    mobile:          gs-span(4)  + $gs-gutter,   // 320px
    mobileLandscape: gs-span(6)  + $gs-gutter,   // 480px
    phablet:         gs-span(8)  + $gs-gutter*2, // 660px
    tablet:          gs-span(9)  + $gs-gutter*2, // 740px
    desktop:         gs-span(12) + $gs-gutter*2, // 980px
    leftCol:         gs-span(14) + $gs-gutter*2, // 1140px
    wide:            gs-span(16) + $gs-gutter*2, // 1300px
);
