@import '_rem';

html {
    font-family: "Guardian Text Egyptian Web", Georgia, serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body {
    line-height: 1.5;
}

@import '_typography.config';
@import '_typography.helpers';
@import '_typography.mixins';