.title-text-block{
    max-width:620px;
    padding-top:1px !important;
    margin-top:40px;
    color:#333;
    display: inline-block;
    h1{
        line-height: 1em;
        font-size:54px;
        margin-bottom:0.2em;
    }
    .shareButtons{
        margin-top:10px;
        padding-top:5px;
        display:inline-block;
    }
}